:root {
    --x-unicode: "\2715";
    --o-unicode: "\2B58";
}
.container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cell {
    border: 1px solid black;
    font-size: 65px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3n+1) {
    border-left: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}
.cell:nth-child(3n) {
    border-right: none;
}
.container.x-hover .cell:not(.x):not(.o):hover::after {
    content: var(--x-unicode);
    color: lightgray;
}
.container.o-hover .cell:not(.x):not(.o):hover::after {
    content: var(--o-unicode);
    color: lightgray;
}
.x::after{
    content: var(--x-unicode);
}
.o::after {
    content: var(--o-unicode);
}